@{
    ViewBag.Title = "EDA Report";
}

<h2>Seguimiento de indicador de crecimiento del 5%</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.Error)
    </div>
}
else
{
    <div>
        @Html.Raw(ViewBag.Message)
    </div>
}


