@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.ImagePath </h1>
    <img src="~/Content/@ViewBag.ImagePath " alt="Generated Image" />
    <p>@ViewBag.Message</p>

</div>

